.characters-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.characters-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.characters-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
    margin-bottom: 15px;
}

.characters-list article span {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.characters-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #000;
    background: none;
    margin-top: 10px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.characters-list article a:hover{
    color: red;
    border: solid red;
}

.characters-list .pagination {
    display: flex;
    justify-content: space-between;  /* Para jogar um botão totalmente para direita e outro para esquerda  */
    margin-bottom: 20px;

}

.characters-list .pagination button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.characters-list .pagination button:hover {
    opacity: 0.5;
}